1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6
Ans:
    values='hello',6
    matematical_operator= *,-,/,+,-87.

2. What is the difference between string and variable?
string= these are literial text which are placed bewteen the quotes 
variable= name given to store data

3.Describe three different data types?
Ans:
Integer(int)=used for whole number ex.123,7789
string(str)=combination of letter or sometime alphanumeric ex.'karthl','94kart'
boolean(bool)=logical data type that have only the values True or Flase ex. AND ,OR

 4. What is an expression made up of? What do all expressions do?
 Ans:
 An expression is a combination of values, variables, and operators. Expressions need to be evaluated

5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
Statements represent an action or command e.g print statements, assignment statements.
Expression is a combination of variables, operations and values that yields a result value.

In [4]:
#6. After running the following code, what does the variable bacon contain? 
bacon = 22
bacon + 1
bacon

22

In [6]:
bacon = 22
bacon += 1
bacon

23

In [9]:
#7. What should the values of the following two terms be?
p='spam'+'spamspam'
q='spam'*3
print(p)
print(q)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?
ans: In python we can't have variable which of numberic and speical character expect '_'

In [2]:
"I have eaten'+99+' burritos."

"I have eaten'+99+' burritos."

9.What three functions can be used to get the integer, floating-point number, or string
version of a value?
int(),float(),str()

10.Why does this expression cause an error? How can you fix it?
'I have eaten'+99+' burritos.'

In [10]:
#Ans
'I have eaten'+99+' burritos.'

TypeError: can only concatenate str (not "int") to str

In [14]:
'I have eaten '+str(99)+' burritos.'

'I have eaten 99 burritos.'